<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>dateTime</key>
		<string>前天 10:27</string>
		<key>msg</key>
		<string>兄弟，在吗！</string>
		<key>sendType</key>
		<integer>0</integer>
		<key>messageType</key>
		<integer>0</integer>
		<key>messageImage</key>
		<dict>
			<key>imageUrl</key>
			<string></string>
			<key>width</key>
			<integer>0</integer>
			<key>height</key>
			<integer>0</integer>
		</dict>
		<key>messageVoice</key>
		<dict>
			<key>voiceUrl</key>
			<string></string>
			<key>timeLength</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>dateTime</key>
		<string>前天 10:28</string>
		<key>msg</key>
		<string>在</string>
		<key>sendType</key>
		<integer>1</integer>
		<key>messageType</key>
		<integer>0</integer>
		<key>messageImage</key>
		<dict>
			<key>imageUrl</key>
			<string></string>
			<key>width</key>
			<integer>0</integer>
			<key>height</key>
			<integer>0</integer>
		</dict>
		<key>messageVoice</key>
		<dict>
			<key>voiceUrl</key>
			<string></string>
			<key>timeLength</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>dateTime</key>
		<string>昨天 20:05</string>
		<key>msg</key>
		<string>能不能跟你商量一个事情？</string>
		<key>sendType</key>
		<integer>0</integer>
		<key>messageType</key>
		<integer>0</integer>
		<key>messageImage</key>
		<dict>
			<key>imageUrl</key>
			<string></string>
			<key>width</key>
			<integer>0</integer>
			<key>height</key>
			<integer>0</integer>
		</dict>
		<key>messageVoice</key>
		<dict>
			<key>voiceUrl</key>
			<string></string>
			<key>timeLength</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>dateTime</key>
		<string>昨天 20:07</string>
		<key>msg</key>
		<string>什么事情，你说</string>
		<key>sendType</key>
		<integer>1</integer>
		<key>messageType</key>
		<integer>0</integer>
		<key>messageImage</key>
		<dict>
			<key>imageUrl</key>
			<string></string>
			<key>width</key>
			<integer>0</integer>
			<key>height</key>
			<integer>0</integer>
		</dict>
		<key>messageVoice</key>
		<dict>
			<key>voiceUrl</key>
			<string></string>
			<key>timeLength</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>dateTime</key>
		<string>昨天 20:07</string>
		<key>msg</key>
		<string>最近兄弟我比较困难，借点钱来</string>
		<key>sendType</key>
		<integer>0</integer>
		<key>messageType</key>
		<integer>0</integer>
		<key>messageImage</key>
		<dict>
			<key>imageUrl</key>
			<string></string>
			<key>width</key>
			<integer>0</integer>
			<key>height</key>
			<integer>0</integer>
		</dict>
		<key>messageVoice</key>
		<dict>
			<key>voiceUrl</key>
			<string></string>
			<key>timeLength</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>dateTime</key>
		<string>昨天 20:07</string>
		<key>msg</key>
		<string>刚刚网络不怎么好，你刚刚说什么</string>
		<key>sendType</key>
		<integer>1</integer>
		<key>messageType</key>
		<integer>0</integer>
		<key>messageImage</key>
		<dict>
			<key>imageUrl</key>
			<string></string>
			<key>width</key>
			<integer>0</integer>
			<key>height</key>
			<integer>0</integer>
		</dict>
		<key>messageVoice</key>
		<dict>
			<key>voiceUrl</key>
			<string></string>
			<key>timeLength</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>dateTime</key>
		<string>昨天 20:11</string>
		<key>msg</key>
		<string>最近兄弟我比较困难，借点钱来</string>
		<key>sendType</key>
		<integer>0</integer>
		<key>messageType</key>
		<integer>0</integer>
		<key>messageImage</key>
		<dict>
			<key>imageUrl</key>
			<string></string>
			<key>width</key>
			<integer>0</integer>
			<key>height</key>
			<integer>0</integer>
		</dict>
		<key>messageVoice</key>
		<dict>
			<key>voiceUrl</key>
			<string></string>
			<key>timeLength</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>dateTime</key>
		<string>昨天 20:15</string>
		<key>msg</key>
		<string>不是这一句，上一句</string>
		<key>sendType</key>
		<integer>1</integer>
		<key>messageType</key>
		<integer>0</integer>
		<key>messageImage</key>
		<dict>
			<key>imageUrl</key>
			<string></string>
			<key>width</key>
			<integer>0</integer>
			<key>height</key>
			<integer>0</integer>
		</dict>
		<key>messageVoice</key>
		<dict>
			<key>voiceUrl</key>
			<string></string>
			<key>timeLength</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>dateTime</key>
		<string>昨天 20:16</string>
		<key>msg</key>
		<string>能不能跟你商量一个事情？</string>
		<key>sendType</key>
		<integer>0</integer>
		<key>messageType</key>
		<integer>0</integer>
		<key>messageImage</key>
		<dict>
			<key>imageUrl</key>
			<string></string>
			<key>width</key>
			<integer>0</integer>
			<key>height</key>
			<integer>0</integer>
		</dict>
		<key>messageVoice</key>
		<dict>
			<key>voiceUrl</key>
			<string></string>
			<key>timeLength</key>
			<integer>0</integer>
		</dict>
	</dict>
    <dict>
        <key>dateTime</key>
        <string>昨天 20:17</string>
        <key>msg</key>
        <string>不是这一句，在上一句</string>
        <key>sendType</key>
        <integer>1</integer>
        <key>messageType</key>
        <integer>0</integer>
        <key>messageImage</key>
        <dict>
            <key>imageUrl</key>
            <string></string>
            <key>width</key>
            <integer>0</integer>
            <key>height</key>
            <integer>0</integer>
        </dict>
        <key>messageVoice</key>
        <dict>
            <key>voiceUrl</key>
            <string></string>
            <key>timeLength</key>
            <integer>0</integer>
        </dict>
    </dict>
    <dict>
        <key>dateTime</key>
        <string>昨天 20:18</string>
        <key>msg</key>
        <string>兄弟，在吗！</string>
        <key>sendType</key>
        <integer>0</integer>
        <key>messageType</key>
        <integer>0</integer>
        <key>messageImage</key>
        <dict>
            <key>imageUrl</key>
            <string></string>
            <key>width</key>
            <integer>0</integer>
            <key>height</key>
            <integer>0</integer>
        </dict>
        <key>messageVoice</key>
        <dict>
            <key>voiceUrl</key>
            <string></string>
            <key>timeLength</key>
            <integer>0</integer>
        </dict>
    </dict>
    <dict>
        <key>dateTime</key>
        <string>昨天 20:18</string>
        <key>msg</key>
        <string>不在</string>
        <key>sendType</key>
        <integer>1</integer>
        <key>messageType</key>
        <integer>0</integer>
        <key>messageImage</key>
        <dict>
            <key>imageUrl</key>
            <string></string>
            <key>width</key>
            <integer>0</integer>
            <key>height</key>
            <integer>0</integer>
        </dict>
        <key>messageVoice</key>
        <dict>
            <key>voiceUrl</key>
            <string></string>
            <key>timeLength</key>
            <integer>0</integer>
        </dict>
    </dict>
    <dict>
		<key>dateTime</key>
		<string>昨天 20:19</string>
		<key>msg</key>
		<string>语言消息</string>
		<key>sendType</key>
		<integer>1</integer>
		<key>messageType</key>
		<integer>2</integer>
		<key>messageImage</key>
		<dict>
			<key>imageUrl</key>
			<string></string>
			<key>width</key>
			<integer>0</integer>
			<key>height</key>
			<integer>0</integer>
		</dict>
		<key>messageVoice</key>
		<dict>
			<key>voiceUrl</key>
			<string>语音地址</string>
			<key>timeLength</key>
			<integer>10</integer>
		</dict>
    </dict>
    <dict>
        <key>dateTime</key>
        <string>昨天 20:20</string>
        <key>msg</key>
        <string>语言消息</string>
        <key>sendType</key>
        <integer>1</integer>
        <key>messageType</key>
        <integer>2</integer>
        <key>messageImage</key>
        <dict>
            <key>imageUrl</key>
            <string></string>
            <key>width</key>
            <integer>0</integer>
            <key>height</key>
            <integer>0</integer>
        </dict>
        <key>messageVoice</key>
        <dict>
            <key>voiceUrl</key>
            <string>语音地址</string>
            <key>timeLength</key>
            <integer>50</integer>
        </dict>
    </dict>
    <dict>
        <key>dateTime</key>
        <string>昨天 20:21</string>
        <key>msg</key>
        <string>语言消息</string>
        <key>sendType</key>
        <integer>1</integer>
        <key>messageType</key>
        <integer>2</integer>
        <key>messageImage</key>
        <dict>
            <key>imageUrl</key>
            <string></string>
            <key>width</key>
            <integer>0</integer>
            <key>height</key>
            <integer>0</integer>
        </dict>
        <key>messageVoice</key>
        <dict>
            <key>voiceUrl</key>
            <string>语音地址</string>
            <key>timeLength</key>
            <integer>1</integer>
        </dict>
    </dict>
    <dict>
        <key>dateTime</key>
        <string>昨天 20:25</string>
        <key>msg</key>
        <string>语言消息</string>
        <key>sendType</key>
        <integer>0</integer>
        <key>messageType</key>
        <integer>2</integer>
        <key>messageImage</key>
        <dict>
            <key>imageUrl</key>
            <string></string>
            <key>width</key>
            <integer>0</integer>
            <key>height</key>
            <integer>0</integer>
        </dict>
        <key>messageVoice</key>
        <dict>
            <key>voiceUrl</key>
            <string>语音地址</string>
            <key>timeLength</key>
            <integer>16</integer>
        </dict>
    </dict>
    <dict>
        <key>dateTime</key>
        <string>昨天 20:26</string>
        <key>msg</key>
        <string>语言消息</string>
        <key>sendType</key>
        <integer>0</integer>
        <key>messageType</key>
        <integer>2</integer>
        <key>messageImage</key>
        <dict>
            <key>imageUrl</key>
            <string></string>
            <key>width</key>
            <integer>0</integer>
            <key>height</key>
            <integer>0</integer>
        </dict>
        <key>messageVoice</key>
        <dict>
            <key>voiceUrl</key>
            <string>语音地址</string>
            <key>timeLength</key>
            <integer>2</integer>
        </dict>
    </dict>
    <dict>
        <key>dateTime</key>
        <string>昨天 20:40</string>
        <key>msg</key>
        <string>语言消息</string>
        <key>sendType</key>
        <integer>0</integer>
        <key>messageType</key>
        <integer>2</integer>
        <key>messageImage</key>
        <dict>
            <key>imageUrl</key>
            <string></string>
            <key>width</key>
            <integer>0</integer>
            <key>height</key>
            <integer>0</integer>
        </dict>
        <key>messageVoice</key>
        <dict>
            <key>voiceUrl</key>
            <string>语音地址</string>
            <key>timeLength</key>
            <integer>19</integer>
        </dict>
    </dict>
    <dict>
        <key>dateTime</key>
        <string>昨天 21:01</string>
        <key>msg</key>
        <string>图片消息</string>
        <key>sendType</key>
        <integer>0</integer>
        <key>messageType</key>
        <integer>1</integer>
        <key>messageImage</key>
        <dict>
            <key>imageUrl</key>
            <string>001.png</string>
            <key>width</key>
            <integer>400</integer>
            <key>height</key>
            <integer>600</integer>
        </dict>
        <key>messageVoice</key>
        <dict>
            <key>voiceUrl</key>
            <string></string>
            <key>timeLength</key>
            <integer>0</integer>
        </dict>
    </dict>
    <dict>
        <key>dateTime</key>
        <string>昨天 21:02</string>
        <key>msg</key>
        <string>图片消息</string>
        <key>sendType</key>
        <integer>1</integer>
        <key>messageType</key>
        <integer>1</integer>
        <key>messageImage</key>
        <dict>
            <key>imageUrl</key>
            <string>002.png</string>
            <key>width</key>
            <integer>100</integer>
            <key>height</key>
            <integer>100</integer>
        </dict>
        <key>messageVoice</key>
        <dict>
            <key>voiceUrl</key>
            <string></string>
            <key>timeLength</key>
            <integer>0</integer>
        </dict>
    </dict>
    <dict>
        <key>dateTime</key>
        <string>昨天 21:10</string>
        <key>msg</key>
        <string>图片消息</string>
        <key>sendType</key>
        <integer>0</integer>
        <key>messageType</key>
        <integer>1</integer>
        <key>messageImage</key>
        <dict>
            <key>imageUrl</key>
            <string>003.png</string>
            <key>width</key>
            <integer>200</integer>
            <key>height</key>
            <integer>100</integer>
        </dict>
        <key>messageVoice</key>
        <dict>
            <key>voiceUrl</key>
            <string></string>
            <key>timeLength</key>
            <integer>0</integer>
        </dict>
    </dict>
    <dict>
        <key>dateTime</key>
        <string>昨天 21:18</string>
        <key>msg</key>
        <string>图片消息</string>
        <key>sendType</key>
        <integer>1</integer>
        <key>messageType</key>
        <integer>1</integer>
        <key>messageImage</key>
        <dict>
            <key>imageUrl</key>
            <string>004.png</string>
            <key>width</key>
            <integer>70</integer>
            <key>height</key>
            <integer>80</integer>
        </dict>
        <key>messageVoice</key>
        <dict>
            <key>voiceUrl</key>
            <string></string>
            <key>timeLength</key>
            <integer>0</integer>
        </dict>
    </dict>
</array>
</plist>
